@import url('https://fonts.googleapis.com/css?family=Chewy|Source+Sans+Pro|ZCOOL+KuaiLe');
body{
    background-color: black;
}
.container{
    text-align: center;
    background-color: darkgray;
    width: 1300px;
    margin: auto;
}
header{

}
h1{
    padding-top: 25px;
    font-family: 'ZCOOL KuaiLe', cursive;
}
.logo{
    padding-top: 25px;
    font-family: 'ZCOOL KuaiLe', cursive;
}
h2{
    font-family: 'Chewy', cursive;
}
h3{
    font-family: 'Source Sans Pro', sans-serif;
}
.latest-news{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 35px;
    text-align: left;
    margin-left: 30px;
}
p{
    font-family: 'Source Sans Pro', sans-serif;
}
nav{

}
ul{
    background-color: rgb(100, 9, 9);
    padding: 20px;
}
li{
    display: inline;
    padding: 10px;
    background-color: black;
    margin: 10px;
    border-radius: 10px;
}
a{
    text-decoration: none;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}
a:hover{
    color:red;
}
.aktiv{

}
main{

}
.konsert{
    
}
.merch-troja{
    width: 150px;
}
.information{

}
.tickets{
    background-color: rgb(117, 121, 122);
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto;
}
.grind-item{

}
a .link-merch{
    color: red;
}
.contact1{
    text-align: left;
    margin: 10px;
}
.contact2{
    text-align: center;
}
.contact3{
    text-align: right;
}