body{
    background-size: 500px;
}
.kontainer{
    width: 600px;
    margin:100px auto;
    background-color: rgba(209, 207, 207, 0.87);
    padding: 30px;
}
h1{

}
h2{

}
p{

}
input{
    padding: 10px;
}
button{
    padding: 10px;
}
