@import url('https://fonts.googleapis.com/css?family=Comfortaa|Poppins|Staatliches');
/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
/* prettier-ignore */
*, *:before, *:after {
    box-sizing: inherit;
}
/* prettier-ignore */
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

/* hela layouten */
body{
    background: url("./bilder/casey-horner-487085-unsplash.jpg");
    background-attachment: fixed;
    background-size: cover;
}
.kontainer{
    width: 100%;
    padding: 20px;

}

/* sidhuvud */
header{
    color: rgb(29, 139, 7);
    padding: 20px;
    margin: 0 30px 30px 30px;
    font-family: 'Poppins', sans-serif;
    -webkit-text-stroke: #fff 1px;
}
header h1{
    padding-bottom: 5px;
    font-family: 'Staatliches', cursive;
    font-size: 100px;
}
header h2{
    font-family: 'Staatliches', cursive;
    font-size: 50px;
}
header nav{
    border-radius: 5px;
    background: rgb(61, 170, 61);
    padding: 20px;
}
header a{
    text-decoration-line: none;
    padding: 5px;
    border-radius: 5px;
    background:#fff;
}
header a:hover{
    background-color: rgb(10, 153, 10);
    color: rgb(0, 0, 0);
    transition-duration: 500ms;
}
header ul{

}
header li{
    padding: 10px;
    display: inline;
    font-family: 'Poppins', sans-serif;
}
/* sidans innehåll */
main{
}
main .innehall{
    background-color: white;
    border-radius: 10px;
    grid-area: innehall;
}
main article{

}
main h3{
    margin: 20px;
    font-family: 'Comfortaa', cursive;
}
main figure{

}
main img{
    width: 100%;
    border-radius: 10px;
}
main figcaption{
    font-family: 'Poppins', sans-serif;
}
main p{
    font-family: 'Poppins', sans-serif;
    margin: 20px;
}
main a{
    color: greenyellow;
}

/* sidabar */

aside{
    background: white;
    margin-left: 30px;
    border-radius: 20px;
    padding-top: 20px;
    grid-area: sidebar;
}
aside section{

}
aside h4{
    font-family: 'Comfortaa', cursive;
    margin-left: 25px;
    padding-top: 20px;

}
aside ul{

}
aside li{
    margin-left: 25px;
    padding:5px;
    list-style: none;

}
aside a{
    text-decoration-line: none;
    font-family: 'Poppins', sans-serif;
}

/* sidfot */
footer{
}
footer p{

}
 @media (min-width: 640px){
    main{
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 3fr 1fr;
        justify-content: space-between;
        grid-template-areas: 
        "innehall sidebar";
    }
}
@media (min-width: 960px){
    .kontainer{
        width: 960px;
        margin: auto;
    }
    main{
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 650px 280px;
        justify-content: space-between;
        grid-template-areas:
        "innehall sidebar";
    }
} 



