body{
background-color: lightgrey;
}
.container{
    margin: auto auto;
    width: 800px;
    height: 800px;
    background-color: rgb(226, 224, 224);
}
#minCanvas{
    border: 1px solid #000;
    background-color: #fff;
    margin: 50px;
}